/* Footer Styling */
.footer {
  background-color: #d40628;
  color: white;
  padding: 40px 20px;
  font-size: 14px;
  text-align: center;
  margin-right: 25px;
}

.footer-container {
  display: flex;
  justify-content: start; 
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px; 
}

.footer-info {
  width: 50%; 
  text-align: left;
}

.footer-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-links {
  width: 45%; 
}

.footer-links h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

.footer-links ul li {
  margin: 3px 0; 
}

.footer-links ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #b13f3f;
}


.footer-bottom {
  margin-top: 20px; 
  font-size: 12px;
  background-color: #b40027;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .footer-info {
    text-align: left;
  }
}
